/* App containers */
.c1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c2{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 70%;
    height: auto;
}

/* Universal classes */
.logo-font{
    font-family: 'Righteous', sans-serif;
    font-size: 22px;
}