<div class="toolbar" #toolbarDiv [ngClass]="{'top': !scrolled}">
    <div class="left-section">
        <a style="display: flex" href="/">
            <div class="logo-1"><ng-content select="[logo-1]"></ng-content></div>
            <div class="logo-2"><ng-content select="[logo-2]"></ng-content></div>
        </a>
    </div>
    <div class="middle-section">
        <a class="link" target="_blank" href="https://www.angular.dev">ANGULAR</a>
        <a class="link" target="_blank" href="https://www.google.com">GOOGLE</a>
        <a class="link" target="_blank" href="https://www.codecademy.com/resources/blog/angular-code-challenges-for-beginners/">CHALLENGES</a>   
    
    </div>
    <div class="right-section">
        <div class="tasks" (click)="toggleTasks()">
            TASKS 
            <div class="task-triangle" [class.rotate]="showTasks">▼</div>
        </div>
        <span style="font-weight: 600;">{{theme | uppercase}}</span>
    </div>
    <div class="toolbar-underline"></div>
    <div class="task-list" *ngIf="showTasks" [@fadeInOut] [ngClass]="{'top': !scrolled}">
        <a class="task-link" routerLink="/" (click)="closeDropdown()">All Tasks</a>
        <div class="underline-container"><div class="underline"></div></div>
        <div *ngFor="let task of tasks">
            <a *ngIf="task.id === 1" class="task-link" (click)="showMessage()">{{taskMessage}}</a>
            <a *ngIf="task.id !== 1" class="task-link" routerLink="/task-{{task.id}}" (click)="closeDropdown()">Task {{task.id}} ></a>
            <div class="underline-container"><div class="underline"></div></div>
        </div>
    </div>
</div>