/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    --light: #f4f3f1;
    --dark: #5d5d5d;
    
    text-decoration: none;
    font-family: monospace, sans-serif;
}

body{
    background-color: #f4f3f1;
}

.flex-centered{
    justify-content: center;
    align-items: center;
    display: flex;
}

a{
    text-decoration: none;
}

.light-theme {
    background-color: var(--light);
    color: black;
}

.dark-theme {
    background-color: var(--dark);
    color: white;
}

.site-label{
    font-size: 32px;
    margin-left: 1%;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Righteous', sans-serif;
}

.underline{
    width: 95%;
    height: 1px;
    background-color: rgb(209, 209, 209);
}

.underline-container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

.task-div{
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    padding: 30px 20px;
    position: relative;
}

.task-div-text{
    color: #5d5d5d;
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 15px;
}

.task-text{
    font-size: 13px;
    margin: 15px 0px;
}