<main @fadeIn>
    <app-task-component [taskId]=2></app-task-component>
    <div class="task-div">
        <p class="task-div-text">Task Div</p>
        <p class="task-text">The "normal" version of the card:</p>
        <div class="flex-centered">
            <app-card [style]="'normal'">
                <img photo class="task-img" src="assets/spaghetti.png" alt="Spaghetti bolognese"/>
                <span title class="title">Makaron spaghetti w sosie bolognese</span>
                <span time class="time">20</span>
                <span kcal class="values">618</span>
                <span b class="values">41g</span>
                <span t class="values">13g</span>
            </app-card>
            <app-card [style]="'normal'">
                <img photo class="task-img" src="assets/biryani.png" alt="Chicken biryani"/>
                <span title class="title">Miska biryani z kawałkami kurczaka</span>
                <span time class="time">55</span>
                <span kcal class="values">722</span>
                <span b class="values">46g</span>
                <span t class="values">29g</span>
            </app-card>
            <app-card [style]="'normal'">
                <img photo class="task-img" src="assets/chicken.png" alt="BBQ chicken with vegetables"/>
                <span title class="title">Grillowany kurczak BBQ z warzywami</span>
                <span time class="time">30</span>
                <span kcal class="values">412</span>
                <span b class="values">47g</span>
                <span t class="values">17g</span>
            </app-card>
            <app-card [style]="'normal'">
                <img photo class="task-img" src="assets/pizza.png" alt="Margherita Pizza"/>
                <span title class="title">Pizza Margherita</span>
                <span time class="time">35</span>
                <span kcal class="values">521</span>
                <span b class="values">18g</span>
                <span t class="values">21g</span>
            </app-card>
        </div>
        <p class="task-text">The "wide" version of the card:</p>
        <div class="flex-centered">
            <app-card [style]="'wide'">
                <img photo class="task-img" src="assets/spaghetti.png" alt="Spaghetti bolognese"/>
                <span title class="title">Makaron spaghetti w sosie bolognese</span>
                <span time class="time">20</span>
                <span kcal class="values">618</span>
                <span b class="values">41g</span>
                <span t class="values">13g</span>
                <span w class="values">86g</span>
                <span s class="values">0.8g</span>
                <span bl class="values">15g</span>
            </app-card>
        </div>
    </div>
</main>